.row
  .col-sm-6.col-sm-offset-2
    = form_for @roster do |f|
      - if @roster.errors.any?
        #error_explanation
          %h2= "#{pluralize(@roster.errors.count, "error")} prohibited this roster from being saved:"
          %ul
            - @roster.errors.full_messages.each do |msg|
              %li= msg

      .field
        = f.label :user_id, class: "col-sm-2 control-label"
        .col-sm-10
          = f.text_field :user_id, class:"form-control", required: true, :autocomplete => :off

      .field
        = f.label :draft_id, class: "col-sm-2 control-label"
        .col-sm-10
          = f.text_field :draft_id, class:"form-control", required: true, :autocomplete => :off


      .actions
        = f.submit 'Save'
