%h1 Rosters

%table.table.table-striped
  %tr
    %th User
    %th Draft
    %th
    %th
    %th

  - @rosters.each do |roster|
    %tr
      %td= link_to roster.user.name, roster_path(roster.user)
      %td= roster.draft.year
      %td
        = link_to 'Show', roster, class: 'btn btn-xs btn-info'
        = link_to 'Edit', edit_roster_path(roster), class: 'btn btn-xs btn-warning'
        = link_to 'Destroy', roster, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-xs btn-danger'

%br

= link_to 'New Roster', new_roster_path
