.row
  .col-sm-6.col-sm-offset-2
    = form_for @user, html: { class:"form-horizontal", role:"form" } do |f|
      - if @user.errors.any?
        #error_explanation
          %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg

      .form-group
        = f.label :name, class: "col-sm-2 control-label"
        .col-sm-10
          = f.text_field :name, class:"form-control"
      .form-group
        = f.label :email, class: "col-sm-2 control-label"
        .col-sm-10
          = f.text_field :email, class:"form-control"
      .form-group
        = f.label :team_name, class: "col-sm-2 control-label"
        .col-sm-10
          = f.text_field :team_name, class:"form-control"
      .form-group
        = f.label :is_admin, class: "col-sm-2 control-label"
        .col-sm-10
          = f.check_box :is_admin, class:"form-control"
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.submit 'Save'
