%h1 Listing player_stats

%table
  %tr
    %th Player
    %th Year
    %th Fpts total
    %th Fpts avg
    %th
    %th
    %th

  - @player_stats.each do |player_stat|
    %tr
      %td= player_stat.player_id
      %td= player_stat.year
      %td= player_stat.fpts_total
      %td= player_stat.fpts_avg
      %td= link_to 'Show', player_stat
      %td= link_to 'Edit', edit_player_stat_path(player_stat)
      %td= link_to 'Destroy', player_stat, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Player stat', new_player_stat_path
