%h2 Sign In

= form_for resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal', role: 'form'} do |f|
  .form-group
    = f.label :email, class: 'col-sm-3 control-label'
    .col-sm-6
      = f.email_field :email, autofocus: true, class: 'form-control'

  .form-group
    = f.label :password, class: 'col-sm-3 control-label'
    .col-sm-6
      = f.password_field :password, autocomplete: "off", class: 'form-control'

  - if devise_mapping.rememberable?
    .form-group
      .col-sm-6.col-sm-offset-3
        = f.check_box :remember_me
        &nbsp;
        = f.label :remember_me

  .form-group
    .col-sm-6.col-sm-offset-3
      = f.submit 'Sign In', class: 'btn btn-primary'

= render "devise/shared/links"
