%h1 Listing players

%table.table.table-striped
  %tr
    %th First name
    %th Last name
    %th
    %th
    %th

  - @players.each do |player|
    %tr
      %td= player.first_name
      %td= player.last_name
      %td
        = link_to 'Show', player, class: 'btn btn-xs btn-info'
        = link_to 'Edit', edit_player_path(player), class: 'btn btn-xs btn-warning'
        = link_to 'Destroy', player, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-xs btn-danger'

%br

= link_to 'New Player', new_player_path
