%h1 Listing players

%table.table.table-striped
  %tr
    %th Name
    %th

  - @players.each do |player|
    %tr
      %td= link_to player.full_name, player_path(player)
      %td
        = link_to 'Show', player, class: 'btn btn-xs btn-info'
        = link_to 'Edit', edit_player_path(player), class: 'btn btn-xs btn-warning'
        = link_to 'Destroy', player, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-xs btn-danger'

%br

= link_to 'New Player', new_player_path
