%p
  %b Name
  = @player.full_name


= link_to "Edit", edit_player_path(@player), class: "btn btn-xs btn-warning"


- if @player.player_stats.any?
  %h3 Stats
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Year
        %th FGM
        %th FGA
        %th FTM
        %th FTA
        %th REB
        %th AST
        %th STL
        %th BLK
        %th TO
        %th PTS
        %th Fantasy Pts (total)
        %th Fantasy Pts (average)
        %th
    %tbody
      - @player.player_stats.order("year DESC").each do |stats|
        %tr
          %td= stats.year
          %td= stats.fgm
          %td= stats.fga
          %td= stats.ftm
          %td= stats.fta
          %td= stats.reb
          %td= stats.ast
          %td= stats.stl
          %td= stats.blk
          %td= stats.to
          %td= stats.pts
          %td= stats.fpts_total
          %td= stats.fpts_avg
          %td
            = link_to "Edit", edit_player_player_stat_path(@player, stats), class: "btn btn-xs btn-warning"
            = link_to "Delete", player_player_stat_path(@player, stats), method: :delete,
                      class: "btn btn-xs btn-danger", data: { confirm: "Are you sure?" }

  = link_to "New Stats Year", new_player_player_stat_path(@player), class: "btn btn-sm btn-primary"

- else

  = link_to "New Stats Year", new_player_player_stat_path(@player), class: "btn btn-sm btn-primary"
%br
%br
= link_to "Back", players_path, class: 'btn btn-xs btn-info'

