%h1 Listing drafts

%table.table.table-striped
  %tr
    %th Year
    %th Status
    %th
    %th
    %th
    %th

  - @drafts.each do |draft|
    %tr
      %td= draft.year
      %td= draft.status
      %td
      %td
        = link_to 'Show', draft, class: "btn btn-xs btn-info"
        = link_to 'Edit', edit_draft_path(draft), class: "btn btn-xs btn-warning"
        = link_to 'Destroy', draft, :method => :delete, :data => { :confirm => 'Are you sure?' }, class:"btn btn-xs btn-danger"

%br

= link_to 'New Draft', new_draft_path
