%nav.navbar.navbar-inverse{role:"navigation"}
  <!-- Brand and toggle get grouped for better mobile display -->
  .navbar-header
    %button.navbar-toggle{type:"button", data: { toggle:"collapse", target:"#bs-example-navbar-collapse-1"} }
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to "HaloFest", root_path, class: "navbar-brand"

  <!-- Collect the nav links, forms, and other content for toggling -->
  .collapse#bs-example-navbar-collapse-1.navbar-collapse
    %ul.nav.navbar-nav
      %li
        = link_to "Home", root_path
      %li
        = link_to "Users", users_path
      %li
        = link_to "Players", players_path
      %li
        = link_to "Rosters", rosters_path
      %li
        = link_to "Drafts", drafts_path


